/* SET Global Font
*/

@font-face
{
	font-family: Segoe UI;
	font-weight: 400;
	src: url('segoeui.ttf');
}

@font-face
{
	font-family: Segoe UI;
	font-weight: 300;
	src: url('segoeuil.ttf');
}

@font-face
{
	font-family: Segoe UI;
	font-weight: 600;
	src: url('segoeuib.ttf');
}

*:not(.material-icons)
{
	font-family: Segoe UI !important;
}


/*
	Change Selection Color
*/
::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--rcd-red);
}

::selection {
  color: white;
  background: var(--rcd-red);
}


/* ParticleJS background
*/


#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -9999999;
    top: 0;
    left: 0
}


/* Hide Scrollbar
*/

::-webkit-scrollbar { 
	display: none; 
}

/* RCD Color Variables 
*/

.rcd-green
{
	background-color: var(--rcd-green) !important;
}

.rcd-red
{
	background-color: var(--rcd-red) !important;
}

.rcd-black
{
	background-color: var(--rcd-black) !important;
}

.rcd-green-text
{
	color: var(--rcd-green) !important;
}

.rcd-red-text
{
	color: var(--rcd-red) !important;
}

.rcd-black-text
{
	color: var(--rcd-black) !important;
}


/* RCD Styles Definitions 
*/

.rcd-logo
{
	font-weight: lighter;
	color: var(--rcd-black) !important;
	font-size: 23px !important;
	text-transform: capitalize;
}

.rcd-container
{
	width: 100%;
	padding: 0 15px !important;
	max-width: 500px;
	margin: auto;
	position: relative;
	min-height: calc(100vh - 11vh);


}

.rcd-status-icon
{
	font-size: 120px !important;
	margin-top: 30px;
	width: 100%;
}

.rcd-status
{
	text-align: center;
	font-weight: lighter;
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}

.rcd-no-margin
{
	margin: 0;
}

.rcd-meta-status
{
	text-align: center;
	font-size: 17px;
	opacity: 0.6;
}

.rcd-btns
{
	width: 100%;
	margin: 5px 0;
}

.rcd-db-btn-container
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	padding-bottom: 0;
}

.rcd-secondary-btn
{
	background-color: transparent !important;
	border: 1px solid;
}

.rcd-secondary-btn.rcd-black
{
	border-color: var(--rcd-black);
	color: var(--rcd-black) !important;
}

.rcd-secondary-btn.rcd-red
{
	border-color: var(--rcd-red);
	color: var(--rcd-red) !important;
}

.rcd-secondary-btn.rcd-green
{
	border-color: var(--rcd-green);
	color: var(--rcd-green) !important;
}

.rcd-stats
{
	padding: 10px;
	margin: 20px 0;
}

.rcd-stats .rcd-data
{
	font-size: 30px;
	font-weight: bold;
}

.rcd-stats .rcd-label
{
	font-size: 17px;
	opacity: 0.6;
}

.rcd-show-only-on-connected
{
	/*display: none;*/
}

/* Pages Style */
.rcd-page
{
	display: none;
	transition: .3s;

}

.rcd-page.active
{
	display: block;
}

.rcd-back-button
{
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
	margin: 0 18px;
}

.rcd-back-button i {
  height: 56px;
  line-height: 56px;
}

.rcd-settings-group
{
	margin-top: 24px;

}

.rcd-settings-group-name
{
	font-size: 13px;
	font-weight: bold;
	color: var(--rcd-black);
	opacity: 0.32;
	margin-bottom: 4px !important;
	display: inline-block;
	text-transform: uppercase;
	padding: 0 10px;
}


.rcd-settings-box
{
	padding: 10px 15px;
	width: 100%;
}

.rcd-settings-meta-title
{
	font-size: 17px;
	color: var(--rcd-black);
}

.rcd-settings-meta-description
{
	font-size: 12px;
	opacity: 0.7;

}

.rcd-settings-form-checkbox
{
	float: right;
	margin-top: calc(24px/2);
}

.rcd-dropdown
{
	position: relative;
}

.rcd-dropdown select
{
	background: transparent !important;
	border: 0 !important;
	outline: 0 !important;
	font-family: segoe ui !important;
	font-size: 15px !important;
	margin: 0 !important;
}

.rcd-dropdown-container
{
	width: calc(100% - 90px) !important; 
	display: inline-block !important;
}

.rcd-dropdown-color {
	background-color: rgba(244, 131, 125, 0.08);
}

.rcd-form-container
{
	position: relative;
	width: 100%;
	margin: 15px 0;
	margin-top: 30px;
}

.rcd-form-container input
{
	width: 100%;
	padding: 12px;
	background-color: rgba(39, 54, 59, 0.06);
	font-family: Segoe UI;
	font-size: 15px;
	outline: 0;
	border: 0;
	position: relative;
	color: var(--rcd-black);
	border-bottom: 2px solid var(--rcd-red);
	transition: border-color ease-in .2s; 
}

.rcd-form-container input:focus
{
	border-bottom: 2px solid var(--rcd-green);
}

.rcd-form-container .rcd-label
{
	position: absolute;
	top: -20px;
	left: 0;
	font-size: 15px;
	color: var(--rcd-black);
}

.rcd-width-100
{
	width: 100% !important;
}

.rcd-text-area
{
	width: 100%;
	border: 2px solid var(--rcd-black);
	outline: 0;
	font-family: segoe ui;
	font-size: 14px;
	padding: 10px;
	height: 170px;
	resize: none;
	border-radius: 6px;
}

.rcd-text-area:focus
{
	border-color: var(--rcd-red);
}

.rcd-logs-css
{
	width: 100%;
	border: 0;
	outline: 0;
	font-family: segoe ui;
	font-size: 15px;
	padding: 10px;
	height: 170px;
	resize: none;
	border-radius: 6px;
	margin: 10px 0;
	height: calc(100vh - 200px);
	scroll-behavior: none;
	overflow-y: hidden;
}

.rcd-sidenav-title
{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.rcd-sidenav-description
{
	color: white;
	opacity: 0.8;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
}

.rcd-modal-title
{
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	color: var(--rcd-black);
	opacity: 0.7;
}

.guide-section h1,
.guide-section h2,
.guide-section h3,
.guide-section h4,
.guide-section h5,
.guide-section h6
{
	font-weight: lighter;
	font-size: 30px;
	color: var(--rcd-red);
}

.guide-section p
{
	opacity: 0.8;
	color: var(--rcd-black);
}

.guide-section code
{
	display: inline-block; 
	padding: 2px 5px;
	background: white;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	font-size: 95%;
	color: var(--rcd-green);
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
}

.guide-section pre
{
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
}

.guide-section a
{
	color: var(--rcd-red);
	border-bottom: 1.5px solid rgba(244, 131, 125, 0.4);
}

.guide-section a:hover
{
	color: var(--rcd-red);
	border-bottom: 1.5px solid rgba(244, 131, 125, 0.8);
}

.guide-section a:focus
{
	color: var(--rcd-green);
	border-bottom: 1.5px solid rgba(153, 185, 152, 1);
}

.guide-section
{
	padding: 5px 0;
}

.rcd-modal-bg
{
	width: 100%;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
	right: -1px;
	z-index: -5;
	background-color: #FF9A8B;
	background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
	/*clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 60% 70%, 50% 100%, 40% 70%, 0 70%);*/
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
}

.rcd-change-logo
{
	transform: scale(1.2) translateY(-10px);
	margin-top: 54px;
	margin-bottom: 11px;
	background: #606c88; 
	background: -webkit-linear-gradient(to right, #3f4c6b, #606c88); 
	background: linear-gradient(to right, #3f4c6b, #606c88); 




}

#modal1
{
	max-width: 400px;
}

.rcd-gradient-red
{
	background-color: #FF9A8B;
	background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.rcd-gradient-red-text
{
	color: #FF9A8B;
	color: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.rcd-credits-card
{
	background-color: rgba(39, 54, 59, 0.05);
	padding: 15px 15px;
}

.rcd-credits-card h5
{
	margin: 0;
	text-align: center;
	color: var(--rcd-black);
	font-weight: lighter;
	font-size: 24px;

}

.rcd-credits-card p
{
	margin: 0;
	text-align: center;
	color: var(--rcd-black);
	opacity: 0.6;
	font-size: 16px;
	margin: 5px;
}

.rcd-credits-tag
{
	font-size: 15px;
	color: var(--rcd-green);

}

@keyframes blinkerx {
  50% {
    opacity: 0 !important;
    transform: scaleY(-1);
  }
}

.rcd-connecting
{
	color: #FDCEAA !important;
	animation: blinkerx 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}



.rcd-shorter-container
{
	max-width: 364px;
	transform: translateY(50%);
}

.rcd-center-login
{
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	transform: translateY(-50%);
}

.rcd-login-title
{
	font-weight: lighter;
	font-size: 25px;
	margin-bottom: 30px;

}

.rcd-gradient-text
{
    background: linear-gradient(274deg, #3494e6, #ec6ead);
    background-size: 400% 400%;

    -webkit-animation: RunningAnimation 2s ease infinite;
    -moz-animation: RunningAnimation 2s ease infinite;
    animation: RunningAnimation 2s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.css-selector {
}

@-webkit-keyframes RunningAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes RunningAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes RunningAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.rcd-need-help
{
	color: var(--rcd-black);
	opacity: 0.7;
	border-bottom: 1.5px solid;
	margin: 5px;
	font-size: 16px;
}

.rcd-center-install
{
	position: fixed;
	left: 0;
	right: 0;
	top: 20%;
	transform: translateY(-50%);
}

.rcd-install-message
{
	font-weight: lighter;
	text-align: center;
	font-size: 35px;

}

.rcd-centered
{
	position: fixed;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 300px;
}

.rcd-install-message
{
	display: none;
}

.rcd-secondary-btn[disabled]
{
	border-color: grey;
	color: grey !important;
}

.rcd-secondary-btn.disabled
{
	border-color: grey;
	color: grey !important;
}

.rcd-conf-label
{
	font-size: 17px;
	opacity: 0.8 !important;
	transform: translateY(59px);
	font-weight: normal !important;
}

/* Spinner Custom Color*/
.spinner-red, .spinner-rcd-red-only {
    border-color: var(--rcd-red);
}

.rcd-forms
{
	transition: height .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.rcd-install-form
{
	height: 0;
	overflow: hidden;
}

.rcd-form-container input:disabled
{
	border-color: gray;
}

.rcd-progress
{
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	background-color: #f4837d82 !important;
}

.rcd-progress .indeterminate
{
	background-color: var(--rcd-red) !important;
}

.rcd-hide
{
	opacity: 0;
}

.rcd-check-update-label
{
	margin-left: 6px;
	transform: translateY(-13px);
	display: inline-block;
	color: var(--rcd-black);
	opacity: 0.8;
}

.rcd-update-divs
{
	display: none;
}